<h4>Change Password</h4>

<form #form="ngForm">

    <div class="form-group">
        <label>Previous password</label>
        <input #previousPw="ngModel" name="previousPassword" type="password" placeholder="Previous password" class="form-control"
            [class.is-invalid]="previousPw.invalid && previousPw.touched"
            [(ngModel)]="previousPassword" required>
        <div *ngIf="previousPw.invalid && previousPw.touched" class="text-danger">
            This field is required.
        </div>
    </div>

    <div class="form-group">
        <label>New password</label>
        <input #newPw="ngModel" name="newPassword" type="password" placeholder="New password" class="form-control"
            [class.is-invalid]="newPw.invalid && newPw.touched"
            [(ngModel)]="newPassword" required>
        <div *ngIf="newPw.invalid && newPw.touched" class="text-danger">
            This field is required.
        </div>
    </div>

    <div class="form-group">
        <label>Confirm new password</label>
        <input #confirmPw="ngModel" name="confirmNewPassword" type="password" placeholder="Confirm new password" class="form-control"
            [class.is-invalid]="confirmPw.invalid && confirmPw.touched"
            [(ngModel)]="confirmNewPassword" required>
        <div *ngIf="confirmPw.invalid && confirmPw.touched" class="text-danger">
            This field is required.
        </div>
    </div>

    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save changes</button>

</form>