<h4>Your most recent transactions</h4>
<p>You have 5 recent transactions</p>
<table class="table">
    <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Account</th>
        <th scope="col">Description</th>
        <th scope="col">In</th>
        <th scope="col">Out</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.date }}</td>
            <td>({{ transaction.accFrom }})</td>
            <td>{{ transaction.description }}</td>
            <td>+${{ transaction.amount }}</td>
            <td></td>
        </tr>
    </tbody>
</table>