<nav-bar></nav-bar>
<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-sm-10 col-md-8 col-lg-6 align-self-center">Log in to your Account</h1>
    </div>
    <div class="row justify-content-center">
        <form #form="ngForm" class="col-sm-10 col-md-8 col-lg-6 align-self-center">

            <div class="form-group">
                <label>Email address</label>
                <input #email="ngModel" type="text" placeholder="Email Address" class="form-control"
                    [class.is-invalid]="email.invalid && email.touched"
                    [(ngModel)]="emailInput" name="email" required>
                <div *ngIf="email.invalid && email.touched" class="text-danger">
                    Email is required.
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input #password="ngModel" type="text" placeholder="Password" class="form-control"
                    [class.is-invalid]="password.invalid && password.touched"
                    [(ngModel)]="passwordInput" name="password" required>
                <div *ngIf="password.invalid && password.touched" class="text-danger">
                    Password is required.
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block" (click)="login()">Log In</button>
            <button type="submit" class="btn btn-dark btn-block" (click)="cancel()">Cancel</button> 

        </form>

    </div>
</div>
