<div *ngIf="account">
    <h3>{{ account.name }} (<span>{{ account.number | formatAccount }}</span>)</h3>
    <h4>Account balance: ${{ account.amount }}</h4>

    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-2">Date</th>
                <th class="col-6">Description</th>
                <th class="col-2">In</th>
                <th class="col-2">Out</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions" class="row">
                <td class="col-2">{{ transaction.date }}</td>
                <td class="col-6">{{ transaction.description }}</td>
                <td class="col-2">+${{ transaction.amount }}</td>
                <td class="col-2"></td>
            </tr>
        </tbody>
    </table>
</div>

