@mixin _button-base {
  @include type-nav-link;

  height: 3rem;
  padding: 0 2rem;
  border: 2px solid;
  border-radius: 2px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  min-width: 220px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-primary {
  @include _button-base;

  background-color: $brand-green;
  color: #fff;
  border-color: $brand-green;
}

@mixin button-outline-light() {
  @include _button-base;

  color: #fff;
  border-color: #fff;

  &:hover,
  &:focus {
    background-color: #fff;
    color: $charcoal-grey;
  }
}

@mixin button-outline-dark() {
  @include _button-base;

  color: $charcoal-grey;
  border-color: $charcoal-grey;

  &:hover,
  &:focus {
    background-color: $charcoal-grey;
    color: #fff;
  }
}
