@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.eot');
  src:
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.woff') format('woff'),
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro/AvenirNext-Medium.eot');
  src:
    url('../fonts/AvenirNextLTPro/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro/AvenirNext-Medium.woff') format('woff'),
    url('../fonts/AvenirNextLTPro/AvenirNext-Medium.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro/AvenirNext-Medium.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.eot');
  src:
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
