/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';

html, body, .jumbotron {
    height: 100%;
}
body {
	margin: 0;
}

.jumbotron {
	padding: 0;
	margin: 0;
}

.container-fluid, .container {
	padding: 4rem;
}

/** STICKY FOOTER **/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $footer-background-color;
}

/** SIDEBAR **/
.nav-sidebar {    
    li {
        width: 100%;
        border: 1px solid $sidebar-border-color;        
        border-bottom: none;

        &:last-child {
            border-bottom: 1px solid $sidebar-border-color;    
        }        
    }

    a {
        padding: 10px;
        width: 100%;
        display: block;
        height: 100%;
        background: $sidebar-background-color;

        &:hover,
        &.active {
            background: $sidebar-active-bg-color;
        }
    }

    a:hover {
        text-decoration: none;
    }

    h4 {
        color: $sidebar-font-color;
        font-size: 18px;
    }

    h3 {
        color: $sidebar-font-color;
        font-size: 16px;
        margin: 0;
    }
}